.nav-bar-container {
  display: flex;
  background-color: #ffffff33;
  justify-content: center;
  padding: 10px;
}
.title-and-score-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  flex-basis: 80%;
}
.logo-container {
  display: flex;
  align-items: center;
}
.emoji-logo {
  width: 26px;
}
@media screen and (min-width: 768px) {
  .emoji-logo {
    width: 48px;
  }
}
.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}
.scores-container {
  display: flex;
}
.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .score {
    font-size: 24px;
    margin-left: 32px;
  }
}
